@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

img{
    width: 270px;
}

footer{
    margin-top: -5px;
    width: 100vw;
    background-color: #8f0101;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

footer:hover{
    background-color: #c00202;
}

a{
    text-decoration: none;
}