@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url(imagens/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-size: cover;
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    transform: translate(-1.5%);
}

#redessociais{
    text-align: right;  
}

img{
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    box-sizing: border-box;
}

img:hover{
    border: 3px solid #ffffff86;
    transform: translate(-3px, -3px);
}
